html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    background-color: rgb(20, 20, 20);
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
}


.allInfo {
    display: none;
    /* align-content: center; */
    position: fixed;
    color: white;
    top: 20%;
    font-family: Avenir;
    font-size: 20px;
    /* left:42%; */
    bottom: auto;
    /* right: auto; */
}
/* .canvas {
    top: 50%;
    left:50%;
    bottom: auto;
    right: auto;
} */